<div class="derivedAbilityCheck">
    <h2>{{localize "adnd2n.chat.derivedAbilityCheck.title" type=(localize (concat (concat (concat "adnd2n.attributes." ability) ".") type))}}</h2>
    {{{roll}}}
    <h2>{{localize (concat "adnd2n.chat.derivedAbilityCheck." success)}}</h2>
</div>